html {
  padding:0;
  margin:0;
  height:100%;
}

.wrapper {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 50px 50px;
}

body {
  padding:0;
  margin:0;
  height:100%;
  color:#fff;
  background-color:#ff6912;
  background: linear-gradient(-45deg,  #72a504, #cc8a08,  #d68f02, #c44b09);
  /*background:linear-gradient(-45deg,  #0f95ad, #0cad6a,  #9bba10, #ccb504);*/
  /*background:linear-gradient(-45deg,  #7354ff, #11389e,  #275cad, #279ac4);*/
  /*background:linear-gradient(-45deg,  #a55871, #9b699a,  #846196, #625277);*/
  background-size: 400% 400%;
  animation: Gradient 40s ease infinite;
  font-family:"noto sans", sans-serif;
  display:grid;
  grid-template-columns:100%;
  grid-template-rows: 1fr;
  grid-template-areas:
                       "content";
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.header {
  font-family:montserrat;
  font-weight:800;
  font-size:100px;
  color:#f7c281;
  text-shadow:2px 2px 5px rgba(20,20,20,0.4);
}

#go {
  height: 280px;
  width: 280px;
  border:none;
  border-radius: 50%;
  font-size:115px;
  font-family:montserrat;
  font-weight:700;
  cursor:pointer;
  text-decoration:none;
  outline:none;
    box-shadow: 0 12px #7b7819;
    transition: 0.15s;
  background-color:#faffbc;
  color:#052a35;
}

#go:hover {
  background-color: #edf771;
  transform: scale(1.05);
}

#go:active {
  box-shadow: 0 6px #7b7819;
  transform: translateY(6px);
}

.main {
  grid-area: content;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
}

#theBar {
  grid-area: sidebar;
  background-color:rgba(255,255,255,0);
  color:white;
  display:none;
  opacity:0;
  transition: opacity 0.5s ease-in-out;
}

.intro {
  text-align:left;
  font-size:24px;
  margin-top:0;
}

.selection {
  display:grid;
  grid-template-columns:300px 1fr 300px;
     grid-template-rows: 100%;
  grid-template-areas: "starsAndStreak  goButton  prefsAndCredits";
}

.starsAndStreak {
  grid-area: starsAndStreak;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:right;
  font-size:60px;
}

.goButton {
  grid-area: goButton;
}

.prefsAndCredits {
  grid-area: prefsAndCredits;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:left;
  font-size:40px;
}

.credits {
  display:inline-block;
  margin:0.5em;
  cursor:pointer;
  transition:0.15s;
  border-radius:10px;
  padding:0 8px;
}

.credits:hover {
  transform:scale(1.05);
  background-color:rgba(255,255,255,0.2);
}

.credits:active {
  transform:scale(0.95);
}

#gauge {
background-color:rgba(230,230,230,0.6);
  margin:0 auto;

  height:32px;
}

#active-gauge {
  background-color:#92e6ff;
  height:32px;
  width:0%;
  animation: gaugeColor 7s ease 0s, gaugeMove 420s linear 0s;
  animation-fill-mode: forwards;
  animation-play-state: paused;

}

@keyframes gaugeColor {
    0%{background-color:#b5ecfd;} 50%{background-color:#55d1f5;} 100%{background-color:#b5ecfd;}
}

@keyframes gaugeMove {
    from {width: 0%;}
    to {width: 100%}
}


#elapsedTime {
  display:inline;
  font-size:45px;
  position:absolute;
  left:5%;
  transform: translateX(-50%);
  overflow:inherit;
  background-color:rgba(255,255,255,0.5);
  border-radius:8px;
  padding: 0 8px;
  margin-top:5px;
  line-height:1.2;
  animation: elapsedTimeMove 420s linear 0s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}


@keyframes elapsedTimeMove {
    from {left: 5%;}
    to {left: 95%}
}

#titleArea{
display:block;
opacity:0;
transition: opacity 0.25s ease-in-out;
}

#workoutArea {
  display:none;
  height:100%;
  grid-template-columns:100%;
  max-height:800px;
  width:90%;
  max-width:1000px;
  grid-template-rows: 90px 1fr 105px;
  grid-template-areas: "nameOfWorkout"
                        "workoutImg"
                        "secondsLeft";
  opacity:0;
  transition: opacity 0.25s ease-in-out;
}

#nameOfWorkout {
  font-size:65px;
  font-weight:700;
  grid-area: nameOfWorkout;
}

.workoutImg {
  grid-area: workoutImg;
  display:flex;
  align-items:center;
  justify-content:center;
}

#secondsLeft {
  grid-area: secondsLeft;
  font-size:55px;
}

.upNext {
  position:absolute;
  right:0;
  bottom:0;
  background-color:rgba(0,0,0,0.2);
  border-radius:40px 0 0 0;
  height:160px;
  width:280px;
  z-index:-1;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:35px;
}

#upNextWorkout {
  font-size:18px;
  margin-top:0.5em;
  margin-bottom:0.3em;
}

#nextWorkout {
  margin-top:0.5em;
  margin-bottom:0.3em;
}

#footage {
  width:75%;
  max-width:600px;
  height:90%;


  background-repeat: no-repeat;
background-size: contain;
background-position: center;
}

#creditsArea {
  display:none;
  background-color:rgba(255,255,255,0.3);
  border-radius:20px;
  padding:0 20px;
  opacity:0;
  font-size:24px;
  transition: opacity 0.25s ease-in-out;
}

#prefsArea {
  display:none;
  background-color:rgba(255,255,255,0.3);
  border-radius:20px;
  padding:0 20px;
  opacity:0;
  font-size:24px;
  transition: opacity 0.25s ease-in-out;
}

#statsArea {
  display:none;
  background-color:rgba(255,255,255,0.3);
  border-radius:20px;
  padding:0 20px;
  opacity:0;
  font-size:24px;
  transition: opacity 0.25s ease-in-out;
}

#hooray {
  display:none;
  opacity:0;
  transition: opacity 0.25s ease-in-out;
}

#countdown {
  display:none;
  opacity:0;
  transition: opacity 0.25s ease-in-out;
}

#numberCountdown {
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:120px;
  background-color:rgba(255,255,255,0.4);
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

#starsAndStreakLink {
  cursor:pointer;
  transition:0.15s;
  border-radius:10px;
  padding:0 8px;
}

#starsAndStreakLink:hover {
  transform:scale(1.05);
  background-color:rgba(255,255,255,0.2);
}

#starsAndStreakLink:active {
  transform:scale(0.95);
}

h2 {
  font-family:montserrat;
  font-size:60px;
  margin: 0.5em 0;
}

.UIButton {
  background-color:rgba(255,255,255,0.6);
  border-radius:8px;
  font-family:"noto sans",sans-serif;
  font-size:30px;
  padding:3px 14px;
  margin:0;
  cursor:pointer;
  text-decoration:none;
  outline:none;
  transition: 0.15s;
  border:0;
}

.UIButton:hover {
background-color:rgba(255,255,255,0.85);
transform:scale(1.05);
}

.UIButton:active {
transform:scale(0.95);
}

#yourName {
  font-size:26px;
  width:8em;
  text-align:center;
  border-radius:5px;
  background-color:rgba(0,0,0,0.2);
  color:#fff;
  border:0;
  padding:5px 0;
}

#yourName:focus {
  background-color: rgba(0,0,0,0.4);
}

input {
  font-family: "noto sans", sans-serif;
  transition:0.15s;
}

input:hover {
  transform:scale(1.05);
}

input:focus {
    outline: none;
    transform:scale(1.05);
}

h3 {
  font-size:36px;
  margin:0.6em 0;
}

.backgroundSelection {
  width:75px;
  height:75px;
  display:inline-block;
  margin:0 8px;
  border-radius:12px;
  transition: 0.15s;
}

.backgroundSelection:hover {
  transform:scale(1.05);
}

.backgroundSelection:active {
    transform:scale(0.95);
}

#orangeBackground {
  background: linear-gradient(-45deg,  #72a504, #cc8a08,  #d68f02, #c44b09);
}

#greenBackground {
  background:linear-gradient(-45deg,  #0f95ad, #0cad6a,  #9bba10, #ccb504);
}

#blueBackground {
  background:linear-gradient(-45deg,  #7354ff, #11389e,  #275cad, #279ac4);
}

#purpleBackground {
  background:linear-gradient(-45deg,  #a55871, #9b699a,  #846196, #625277);
}

.workoutStar {
  display:inline-block;
  transform:rotate(160deg);
  font-weight:700;
}

.workoutStar::before {
  content: "★";
}

.streakArrow {
  display:inline-block;
  transform:rotate(200deg);
  font-weight:700;
}

.streakArrow::before {
  content: "↯";
}

.para1 {
  font-size:24px;
}

#starGet2 {
  font-size:80px;
  margin: 0.3em 0;
}

.smallMargin {
  margin:0.6em 0;
}
